<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4><small>ID: </small> {{getId()}}
            <small>USER: </small>{{getUser()}}
            <small>TYPE: </small>{{getQuestionTypeString()}}
            <small>DIFFICULTY: </small>{{getQuestionDifficultyString()}}</h4>
      </div>
      <div class="panel-body">
        <h4>DESCRIPTION: {{getDescription()}} </h4>
      </div>
      <div class="panel-footer">
        <app-question-topics ></app-question-topics>
        <app-question-references ></app-question-references>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4>QUESTION:</h4>
      </div>
      <div class="panel-body">
        <h4>{{processQuestionText(getText())}}</h4>
      </div>
      <div class="panel-footer">
        <app-question-choices ></app-question-choices>
      </div>
    </div>
  </div>
</div>
