<mat-card style="width:92%; margin:0 auto;">
    <div class="typeConfig1">Part 2: &nbsp;&nbsp;Enter question</div><br>
    <div id="tinyEditor" style="width:92%; margin:0px auto;">
        <editor apiKey="lzlkf4t1qvjtid356kafllkafx5quoci0htkh5pxp41ilf73" 
            [init]="{
                statusbar: false,
                menubar: false,
                plugins: 'image link hr charmap',
                toolbar: 'undo redo | bold italic underline strikethrough | alignleft aligncenter alignjustify | styleselect | bullist numlist | outdent indent | image link | hr removeformat | subscript superscript | charmap '
            }" 
            [(ngModel)]="editorData.questionText">
        </editor>
    </div> 
</mat-card>    