<mat-toolbar color="primary">
  <mat-toolbar-row class="header-toolbar-row">
    <span>
      <a  aria-label="Quizki Home" mat-button="" routerlink="/home-page" tabindex="0" aria-disabled="false" href="/home-page">
          <img alt="quizki" class="header-icon" src="./../assets/images/logo-light.png">
      </a>
    </span>

    <span> {{pageTitle}} </span>

    <span class="header-fill-remaining-space"> </span>

    <span class="header-login-register">
      <button mat-button aria-label="login" routerlink="/login" aria-disabled="false" >login</button>
      <span>|</span>
      <button mat-button aria-label="register" routerlink="#" aria-disabled="false" >register</button>
    </span>
  </mat-toolbar-row>

</mat-toolbar>
