<mat-toolbar color="primary">
  <mat-toolbar-row class="header-toolbar-row">
    <span class="header-icon">
      <a  aria-label="Quizki Home" class="docs-button mat-button" mat-button="" routerlink="/home-page" tabindex="0" aria-disabled="false" href="/">
        <span class="header-button-wrapper">
          <img alt="quizki" class="header-icon" src="./../assets/images/logo-light.png">
        </span>
        <div class="mat-button-ripple mat-ripple" matripple=""> </div>
      </a>
    </span>

    <span class="header-page-title"> Page Title Here </span>

    <span class="header-fill-remaining-space"> </span>

    <span class="header-login-register">
      <button mat-button aria-label="Quizki Home" routerlink="/login">login</button>
      <span>|</span>
      <button mat-button aria-label="Quizki Home" >register</button>
    </span>
  </mat-toolbar-row>

</mat-toolbar>
