
TODO: remove after verifying data captured correctly: {{diagnostic}}

<div class="mat-typography row">
  <div class="col-md-4 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h2>REGISTER</h2>
      </div>

      <div class="panel-body">
        <form class="basic-container form" (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="fullname">Enter your full name</mat-label>
              <input matInput required minlength pattern
                type="text" class="form-control" id="fullname"
                [(ngModel)]="specificUserRegistration.fullname" name="fullname"
                [formControl]="fullnameFormControl"
                placeholder="firstname lastname">
              <mat-error *ngIf="fullnameFormControl.invalid">{{getFullnameErrorMessage()}}</mat-error>
              <mat-hint>Example: Firstname Lastname</mat-hint>
            </mat-form-field>
          </div>

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="email">Enter email address</mat-label>
              <input matInput required email
                type="email" class="form-control" id="email"
                [(ngModel)]="specificUserRegistration.email" name="email"
                [formControl]="emailFormControl"
                placeholder="Enter your email.">
              <mat-error *ngIf="emailFormControl.invalid">{{getEmailErrorMessage()}}</mat-error>
              <mat-hint>Example: info@quizki.com</mat-hint>
            </mat-form-field>
          </div>

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="username">Enter username</mat-label>
              <input matInput required minlength pattern
                type="text" class="form-control" id="username"
                [(ngModel)]="specificUserRegistration.username" name="username"
                [formControl]="usernameFormControl"
                placeholder="username">
              <mat-error *ngIf="usernameFormControl.invalid">{{getUsernameErrorMessage()}}</mat-error>
              <mat-hint>Use letters, numbers and underscore. </mat-hint>
            </mat-form-field>
          </div>

          <a class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="password">Enter password</mat-label>
              <input matInput required minlength pattern
                type="password" class="form-control" id="password"
                [(ngModel)]="specificUserRegistration.password" name="password"
                [formControl]="passwordFormControl"
                placeholder="Enter password" [type]="hidePassword ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="passwordFormControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
              <mat-hint>Use 5 or more numbers, letters, and special characters.</mat-hint>
            </mat-form-field>
          </a>

       </form>
       <div class="basic-container">
        <div class="button-row">
         <button mat-raised-button
           type="submit" class="btn btn-success btn-primary"
           (click)="onSubmit(registerForm)"
           >Submit
         </button>
         &nbsp;
         <button mat-raised-button
           type="text" class="btn"
           (click)="cancelRegistration(registerForm)"
           >Cancel
         </button>
        </div>
       </div>
      </div>

      <div class="panel-footer">
        <p></p>
      </div>

    </div>
  </div>
</div>
