<!-- saving for a future example of how to display data captured from a form
  TODO: remove after verifying data captured correctly registerForm.value: {{registerFormDiagnostic}}
-->

<div class="mat-typography row">
  <div class="col-md-4 col-md-offset-1">
    <mat-card class="basic-container">
      <mat-card-header class="basic-container basic-card-header">
        <mat-card-title><h2>REGISTER STATUS: {{registerStatus}}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="basic-container" [formGroup]="registerForm"
          (ngSubmit)="onSubmit()">

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="fullname">Enter your full name</mat-label>
              <input #fullnameInput matInput required minlength pattern
                type="text" formControlName="fullname"
                class="form-control" id="fullname"
                placeholder="firstname lastname">
              <mat-error *ngIf="fullnameFC.invalid && (fullnameFC.touched || fullnameFC.dirty)">
                  {{getErrorMessage("fullname")}}
              </mat-error>
              <mat-hint>Example: Firstname Lastname</mat-hint>
            </mat-form-field>
          </div>

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="email">Enter email address</mat-label>
              <input #emailInput matInput email required emailTaken
                type="email" class="form-control" id="email"
                formControlName="email"
                placeholder="Enter your email.">
              <div *ngIf="emailFC.pending">Validating...</div>
              <mat-error *ngIf="emailFC.invalid && (emailFC.touched || emailFC.dirty)">
                {{getErrorMessage("email")}}
              </mat-error>
              <mat-hint>Example: info@quizki.com</mat-hint>
            </mat-form-field>
          </div>

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="username">Enter username</mat-label>
              <input #usernameInput matInput required minlength pattern usernameTaken
                type="text" class="form-control" id="username"
                formControlName="username"
                placeholder="username">
              <div *ngIf="usernameFC.pending">Validating...</div>
              <mat-error *ngIf="usernameFC.invalid && (usernameFC.touched || usernameFC.dirty)">
                {{getErrorMessage("username")}}
              </mat-error>
              <mat-hint>Use letters, numbers and underscore. </mat-hint>
            </mat-form-field>
          </div>

          <a class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="password">Enter password</mat-label>
              <input #passwordInput matInput required minlength pattern
                type="password" class="form-control" id="password"
                formControlName="password"
                placeholder="Enter password" [type]="commonFCS.getPasswordFieldType()">
              <mat-icon matSuffix (click)="commonFCS.hidePasswordClick($event)">{{commonFCS.getIconVisiblityString()}}</mat-icon>
              <mat-error *ngIf="usernameFC.invalid && (usernameFC.touched || usernameFC.dirty)">
                {{getErrorMessage("password")}}
              </mat-error>
              <mat-hint>Use 5 or more numbers, letters, and special characters.</mat-hint>
            </mat-form-field>
          </a>
        </form>
      </mat-card-content>
      <mat-card-actions class="basic-container basic-card-actions">
        <div [hidden]=hideWhileRegistering class="button-row">
          <button mat-raised-button
            type="submit" class="btn btn-success btn-primary"
            aria-label="submit button"
            [disabled]="!registerForm.valid || registerSubmitted"
            (click)="onSubmit()"
            (keyup.enter)="onSubmit()"
            >Submit
          </button>
          &nbsp;
          <button mat-raised-button
            type="text" class="btn"
            aria-label="cancel button"
            (click)="cancelRegistration(registerForm)"
            (keyup.enter)="cancelRegistration(registerForm)"
            routerLink="/home-page"
            >Cancel
          </button>
          &nbsp;
          <button [hidden]=hideLoginButton mat-raised-button
            type="text" class="btn"
            aria-label="login button"
            (click)="this.loginDialogService.openLoginDialog()"
            (keyup.enter)="this.loginDialogService.openLoginDialog()"
            routerLink="/home-page"
            >Login
          </button>

        </div>
      </mat-card-actions>
      <mat-card-footer class="basic-container basic-card-footer">
        <div [hidden]=hideWhileRegistering>
          <p>Already registered?
            &nbsp;
            <a  (click)="registerForm.reset()"
              (click)="this.loginDialogService.openLoginDialog()"
              (keyup.enter)="this.loginDialogService.openLoginDialog()"
              aria-label="login"
              routerLink="/home-page"
              >Login</a>
          </p>
          <br>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
