TODO: remove after verifying data captured correctly specificUserRegistration: {{diagnostic}}
<br>
TODO: remove after verifying data captured correctly registerForm.value: {{registerFormDiagnostic}}
<br>

<div class="mat-typography row">
  <div class="col-md-4 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h2>REGISTER</h2>
      </div>

      <div class="panel-body">
        <form class="basic-container" [formGroup]="registerForm"
          (ngSubmit)="onSubmit()">

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="fullname">Enter your full name</mat-label>
              <input #fullnameInput matInput required minlength pattern
                type="text" formControlName="fullname"
                class="form-control" id="fullname"
                (keyup.enter)="addFullname(fullnameInput.value)"
                (blur)="addFullname(fullnameInput.value)"
                placeholder="firstname lastname">
              <mat-error *ngIf="fullnameFC.touched && fullnameFC.invalid && fullnameFC.dirty">
                  {{getErrorMessage("fullname")}}
              </mat-error>
              <mat-hint>Example: Firstname Lastname</mat-hint>
            </mat-form-field>
          </div>

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="email">Enter email address</mat-label>
              <input #emailInput matInput required email
                type="email" class="form-control" id="email"
                (keyup.enter)="addEmail(emailInput.value)"
                (blur)="addEmail(emailInput.value)"
                formControlName="email"
                placeholder="Enter your email.">
              <mat-error *ngIf="emailFC.touched && emailFC.invalid && emailFC.dirty">
                {{getErrorMessage("email")}}
              </mat-error>
              <mat-hint>Example: info@quizki.com</mat-hint>
            </mat-form-field>
          </div>

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="username">Enter username</mat-label>
              <input #usernameInput matInput required minlength pattern
                type="text" class="form-control" id="username"
                (keyup.enter)="addUsername(usernameInput.value)"
                (blur)="addUsername(usernameInput.value)"
                formControlName="username"
                placeholder="username">
              <mat-error *ngIf="usernameFC.touched && usernameFC.invalid && usernameFC.dirty">
                {{getErrorMessage("username")}}
              </mat-error>
              <mat-hint>Use letters, numbers and underscore. </mat-hint>
            </mat-form-field>
          </div>

          <a class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="password">Enter password</mat-label>
              <input #passwordInput matInput required minlength pattern
                type="password" class="form-control" id="password"
                (keyup.enter)="hidePassword=true;addPassword(passwordInput.value)"
                (blur)="hidePassword=true;addPassword(passwordInput.value)"
                formControlName="password"
                placeholder="Enter password" [type]="hidePassword ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="passwordFC.touched && passwordFC.invalid && passwordFC.dirty">
                {{getErrorMessage("password")}}
              </mat-error>
              <mat-hint>Use 5 or more numbers, letters, and special characters.</mat-hint>
            </mat-form-field>
          </a>

       </form>
       <div class="basic-container">
        <div class="button-row">
         <button mat-raised-button
           type="submit" class="btn btn-success btn-primary"
           aria-label="submit button"
           [disabled]="registerForm.invalid"
           (click)="onSubmit()"
           >Submit
         </button>
         &nbsp;
         <button mat-raised-button
           type="text" class="btn"
           aria-label="cancel button"
           (click)="cancelRegistration(registerForm)"
           routerLink="/home-page"
           >Cancel
         </button>
        </div>
       </div>
      </div>

      <div class="panel-footer">
        <p>Already registered?
          &nbsp;
          <a  (click)="registerForm.reset()"
            routerLink="/login"
            aria-label="login"
            href ="/login">Login</a>
        </p>
      </div>

    </div>
  </div>
</div>
