TODO: remove after verifying data captured correctly loginForm.value: {{loginFormDiagnostic}}
<br>
<div class="mat-typography row">
  <div class="col-md-4 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h2 class="panel-title">LOGIN STATUS: {{loginStatus}}</h2>
      </div>

      <div class="panel-body">
        <form class="basic-container" [formGroup]="loginForm"
            (ngSubmit)="onSubmit()">

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="username">username</mat-label>
              <input #usernameLogin matInput required minlength
                type="text" class="form-control" id="username"
                (keyup.enter)="addUsername(usernameLogin.value)"
                (blur)="addUsername(usernameLogin.value)"
                formControlName="username"
                placeholder="username">
              <mat-error *ngIf="usernameFC.touched && usernameFC.invalid && usernameFC.dirty">
                {{getLoginErrorMessage("username")}}
              </mat-error>
              <mat-hint>Enter your username.</mat-hint>

            </mat-form-field>
          </div>

          <a class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="passwordIn">password</mat-label>
              <input #passwordLogin matInput required minlength
                type="password" class="form-control" id="passwordIn"
                (keyup.enter)="hidePassword=true;addPassword(passwordLogin.value)"
                (blur)="hidePassword=true;addPassword(passwordLogin.value)"
                formControlName="password"
                placeholder="Enter password" [type]="hidePassword ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="passwordFC.touched && passwordFC.invalid && passwordFC.dirty">
                {{getLoginErrorMessage("password")}}
              </mat-error>
              <mat-hint>Enter your password.</mat-hint>
            </mat-form-field>
          </a>

         </form>

         <div class="basic-container">
          <div class="button-row">
           <button mat-raised-button
             type="submit" class="btn btn-success btn-primary"
             aria-label="login button"
             [disabled]="loginForm.invalid"
             (click)="onSubmit()"
             >Login
           </button>
           &nbsp;
           <button mat-raised-button
             type="text" class="btn"
             aria-label="cancel button"
             (click)="cancelLogin()"
             routerLink="/home-page"
             >Cancel
           </button>
          </div>
         </div>
      </div>
      <div class="panel-footer">
        <p>User: {{username}}  Password: {{password}} </p>
        <p>New to Quizki?
          &nbsp;
          <a  (click)="cancelLogin()"
            routerLink="/registration"
            aria-label="create an account"
            href ="/registration">Create an account.</a>
        </p>
      </div>
    </div>
  </div>
</div>
