TODO: remove after verifying data captured correctly loginForm.value: {{loginFormDiagnostic}}
<br>
<div class="mat-typography row">
  <div class="col-md-4 col-md-offset-1">
    <mat-card>
      <mat-card-header class="basic-container basic-card-header">
        <mat-card-title><h2>LOGIN STATUS: {{loginStatus}}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="basic-container" [formGroup]="loginForm"
            (ngSubmit)="onSubmit()">

          <div class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="username">username</mat-label>
              <input #usernameLogin matInput required minlength
                type="text" class="form-control" id="username"
                formControlName="username"
                placeholder="username">
              <mat-error *ngIf="usernameFC.invalid && (usernameFC.touched || usernameFC.dirty)">
                {{getLoginErrorMessage("username")}}
              </mat-error>
              <mat-hint>Enter your username.</mat-hint>

            </mat-form-field>
          </div>

          <a class="basic-container">
            <mat-form-field appearance="standard">
              <mat-label for="passwordIn">password</mat-label>
              <input #passwordLogin matInput required minlength
                type="password" class="form-control" id="passwordIn"
                (blur)="hidePassword=true;"
                formControlName="password"
                placeholder="Enter password" [type]="hidePassword ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="passwordFC.invalid && (passwordFC.touched || passwordFC.dirty)">
                {{getLoginErrorMessage("password")}}
              </mat-error>
              <mat-hint>Enter your password.</mat-hint>
            </mat-form-field>
          </a>

         </form>
      </mat-card-content>
      <mat-card-actions class="basic-container basic-card-actions">
        <div class="button-row">
          <button mat-raised-button
            type="submit" class="btn btn-success btn-primary"
            aria-label="login button"
            [disabled]="loginForm.invalid || loginSubmitted"
            (click)="onSubmit()"
            >Login
          </button>
          &nbsp;
          <button mat-raised-button
            type="text" class="btn"
            aria-label="cancel button"
            (click)="cancelLogin()"
            routerLink="/home-page"
            >Cancel
          </button>
        </div>
      </mat-card-actions>
      <mat-card-footer class="basic-container basic-card-footer">
        <div *ngIf="loginSubmitted">{{loginUserStatus}}</div>
        <div>
          <p>User: {{username}}  Password: {{password}} </p>
          <p>New to Quizki?
            &nbsp;
            <a  (click)="cancelLogin()"
              routerLink="/registration"
              aria-label="create an account"
              href ="/registration">Create an account.</a>
          </p>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
