<mat-card style="width:92%; margin:0 auto;">
    <div class="typeConfig1">Part 1: &nbsp;&nbsp;Question topic and type</div><br>
    <table style="width:95%; font-size:1.0em; margin:0px auto;">
        <tr>
            <td title="Select topic applicable to your question" style="width:33%; text-align:center;">
                <mat-form-field style='width:80%;' >
                    <mat-select placeholder="Select Topic">
                        <mat-option *ngFor="let topic of topics" [value]="topic.value" (click)="clickedTopic(topic.value)">
                            {{topic.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>

            <td title="Enter new topic" style="width:33%; text-align:center;">
                <mat-form-field style="width:50%;">
                  <input matInput placeholder="New Topic" [(ngModel)]="newTopic">
                </mat-form-field>&nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="updateCurrentTopic()">Set as current topic</button>
            </td>

            <td title="Topic chosen for your question" style="width:33%; text-align:center; vertical-align:top;">
                Current Topic:<br>{{currentTopic}}
            </td>    
        </tr><br>

        <tr>
            <td title="Select question type (see help for examples)" style="width:33%; text-align:center;">
                <mat-form-field style='width:80%;' >
                    <mat-select placeholder="Select Question Type">
                        <mat-option *ngFor="let quesType of questionType" [value]="quesType.value" [disabled]="quesType.notAvailable" (click)="clickedQuestionType(quesType.value)">
                            {{quesType.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td title="(optional) Enter a short description of the question " style="width:33%; text-align:center;">
                <mat-form-field style="width:80%;">
                    <input matInput  [(ngModel)]="briefQuestionDesc">
                </mat-form-field>
            </td>
            <td style="width:33%; text-align:center;">
            </td>    
        </tr><br>
    </table>
</mat-card>