<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home-page">Home</a>
      <a mat-list-item routerLink="/generate-exam-page">Generate an exam</a>
      <a mat-list-item routerLink="/search-for-an-exam-page">Search for an exam</a>
      <a mat-list-item routerLink="/create-question-page">Create a question</a>
      <a mat-list-item routerLink="/create-exam-page">Create an exam</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <a  aria-label="Quizki home" class="docs-button mat-button" mat-button="" routerlink="/home-page" tabindex="0" aria-disabled="false" href="/home-page">
          <span >
            <img class="header-icon" alt="quizki" src="./../assets/images/logo-light.png">
          </span>
          <div class="mat-button-ripple mat-ripple" matripple=""> </div>
        </a>
      </span>
      <span [innerHTML]="pageTitle"></span>
      <!-- save examples
        <span>{{pageTitle}}</span>
        <span id="spanPageTitle">{{pageTitle}}</span>
        <span [innerHTML]="pageTitle"></span>
      -->
      <span class="header-fill-remaining-space"> </span>
      <span >
        <button mat-button aria-label="login">login</button>
        <span>|</span>
        <button mat-button aria-label="register">register</button>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
